# Import built-in libraries.

In [1]:
import sqlite3 # https://docs.python.org/3/library/sqlite3.html
import csv # https://docs.python.org/3/library/csv.html

# CREATE TABLE player

In [2]:
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()
cursor.execute("""CREATE TABLE player(
    id VARCHAR(255) NOT NULL,
    first_name VARCHAR(255) NOT NULL,
    last_name VARCHAR(255)  NOT NULL,
    PRIMARY KEY (id));""")
conn.commit()

# Import first 10 data from Players.csv into table player

In [3]:


with open('assignment-01/Players.csv') as file:
    reader = csv.DictReader(file)
    for i, row in enumerate(reader):
        id = row['playerid']
        first = row['namefirst']
        last = row['namelast']
        sql = f"""INSERT INTO player VALUES('{id}', '{first}', '{last}');"""
        # print(sql)
        cursor.execute(sql)
        if i > 10:
            break
    conn.commit()

# Fetch all rows from table player

In [4]:
cursor.execute("""SELECT * FROM player""")
for row in cursor:
    print(row)

('aardsda01', 'David', 'Aardsma')
('aaronha01', 'Hank', 'Aaron')
('aaronto01', 'Tommie', 'Aaron')
('aasedo01', 'Don', 'Aase')
('abadan01', 'Andy', 'Abad')
('abadfe01', 'Fernando', 'Abad')
('abadijo01', 'John', 'Abadie')
('abbated01', 'Ed', 'Abbaticchio')
('abbeybe01', 'Bert', 'Abbey')
('abbeych01', 'Charlie', 'Abbey')
('abbotda01', 'Dan', 'Abbott')
('abbotfr01', 'Fred', 'Abbott')